name: PR pipeline
on:
  pull_request:

jobs:
  release:
    name: Build
    runs-on: ubuntu-24.04
    if: github.event.pull_request.draft == false
    steps:

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.2.0

      - name: Create GitVersion.yml
        run: |
          cat <<EOF > GitVersion.yml
          major-version-bump-message: '(breaking|major|incompatible):'
          minor-version-bump-message: '(feature|minor|enhancement|new|update|improvement|upgrade|feat):'
          patch-version-bump-message: '(fix|patch|bugfix|hotfix|correction|adjustment|tweak):'
          no-bump-message: '(none|skip|no-release|trivial|docs|documentation|style|refactor|chore|chore\(deps\)|test):'
          EOF

      - name: Run GitVersion
        id: gitversion
        uses: gittools/actions/gitversion/execute@v4.2.0

      - name: Display GitVersion majorMinorPatch
        run: |
          echo "majorMinorPatch : ${{ env.majorMinorPatch }}"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Push docker image release
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: false
          tags: cnieg/gitlab-tokens-exporter:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
