name: PR pipeline
on:
  pull_request:

jobs:
  release:
    name: Build
    runs-on: ubuntu-24.04
    if: github.event.pull_request.draft == false
    steps:

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Run Clippy
        run: cargo clippy --no-deps -- -Dwarnings

      - name: Run rustfmt
        run: cargo fmt --check

      - name: Run rustdoc
        run: cargo doc --no-deps
        env:
          RUSTDOCFLAGS: "-D warnings"

      - name: Run tests
        run: cargo test

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Push docker image release
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: false
          tags: cnieg/gitlab-tokens-exporter:latest
