name: Release

on:
  push:
    branches:
      - main

jobs:

  # Release unpublished packages.
  release-plz-release:
    if: ${{ github.repository_owner == 'cnieg' }}
    name: Release-plz release
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - &checkout
        name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Run Clippy
        run: cargo clippy --no-deps -- -Dwarnings

      - name: Run rustfmt
        run: cargo fmt --check

      - name: Run rustdoc
        run: cargo doc --no-deps
        env:
          RUSTDOCFLAGS: "-D warnings"

      - name: Run tests
        run: cargo test

      - name: Run release-plz
        id: release-plz
        uses: release-plz/action@v0.5
        with:
          command: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get release version
        if: ${{ steps.release-plz.outputs.releases != '[]' }}
        id: release-version
        env:
          RELEASES: ${{ steps.release-plz.outputs.releases }}
        run: echo version=$(echo "$RELEASES" | jq -r '. | last .version') >> "$GITHUB_OUTPUT"

      - name: Set up Docker Buildx
        if: ${{ steps.release-plz.outputs.releases != '[]' }}
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        if: ${{ steps.release-plz.outputs.releases != '[]' }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push OCI image
        if: ${{ steps.release-plz.outputs.releases != '[]' }}
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: cnieg/gitlab-tokens-exporter:${{ steps.release-version.outputs.version }},cnieg/gitlab-tokens-exporter:latest

      - name: Docker Hub Description
        if: ${{ steps.release-plz.outputs.releases != '[]' }}
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: cnieg/gitlab-tokens-exporter
          readme-filepath: ./README_dockerhub.md
          short-description: ${{ github.event.repository.description }}

  # Create a PR with the new versions and changelog, preparing the next release.
  release-plz-pr:
    if: ${{ github.repository_owner == 'cnieg' }}
    name: Release-plz PR
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    concurrency:
      group: release-plz-${{ github.ref }}
      cancel-in-progress: false
    steps:
      - *checkout
      - name: Run release-plz
        uses: release-plz/action@v0.5
        with:
          command: release-pr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
